<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:;base64,=">
    <title>LANGUAGE RULES</title>
</head>
<body>
    <a href="/api/rules/index/">Все правила</a>
    <h3>Проверка правила</h3>
    <p>{{ user }}</p>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Проверяемое правило</label><br>
            <select name="rulesselect">
            {% for r in rlist %}
                <option value ="{{r.rules}}">{{r.rules}}</option>
            {% endfor %}
            </select>
        </p>
        <label>Комментарий</label>
        <input name="comment" />
        <p></p>
        <button type="submit" name="flag" value=1>Подтвердить</button>
        <button type="submit" name="flag" value=0>Отвергнуть</button>
    </form>
</body>
</html>