<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:;base64,=">
    <title>LANGUAGE RULES</title>
</head>
<body>
    <a href="/api/rules/index/">Все правила</a>
    <h3>Проверка правила</h3>
    <p>{{ user }}</p>
    <form method="POST">
        {% csrf_token %}
        <p>
            <button value="Refresh Page" onClick="location.reload(); return false">другое правило</button>
            <p></p>
            <p>Проверяемое правило: {{ rsel.rules }}</p>
            <p>Ответы:
            {% for a in rsel.answer_set.all %}
            <td>{{ a.ans }}</td>
            {% endfor %}
            </p>
        </p>
        <input name="rsid" value={{ rsel.id }} />
        <p></p>
        <label>Комментарий</label>
        <input name="comment" />
        <p></p>
        <input type="radio" name="flag" value=1>Подтвердить
        <input type="radio" name="flag" value=0>Отвергнуть
        <p></p>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>